<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="images/favicon.ico" rel="icon">
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/favicon.ico" rel="apple-touch-icon-precomposed">
    <!--Stylesheets-->
    <link href="/stylesheets/sass-mobile.css" rel="stylesheet" media="all and (max-device-width: 380px)">
    <link href="/stylesheets/sass-tablet.css" rel="stylesheet" media="all and (min-device-width: 380px) and (max-device-width: 770px)">
    <link href="/stylesheets/sass-desk.css" rel="stylesheet" media="all and (min-device-width: 770px)">
    <link href="/stylesheets/animsition.min.css" rel="stylesheet">
    <!--Scripts-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/animsition.min.js"></script><!--[if IE 6]><link rel="stylesheet" href="http://mysite.com/path/to/ie6.css" type="text/css" media="screen, projection"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="http://mysite.com/path/to/ie7.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div data-animsition-overlay="true" class="animsition-overlay">
      <section id="lay"></section>
      <section id="dot1">
        <h6>Pretty<br />Dot</h6>
      </section>
      <section id="dot2">
        <h6>Pretty<br />Dot</h6>
      </section>
      <section id="certs" class="contentPage">
        <h1>My Certificates</h1>
        <hr class="styledhr"><img src="images/cert/html5.png" href="images/cert/html5.png" width="199" height="154" alt="html5 certificate" class="certPic popup-link"><img src="images/cert/dbv3.png" href="images/cert/dbv3.png" width="199" height="140" alt="database certifcate" class="certPic popup-link"><img src="images/cert/dreamweaverbadge-v2.png" href="images/cert/dreamweaverbadge-v2.png" width="229" height="126" alt="dreamweaver certificate" class="certPic popup-link"><img src="images/cert/matr101.png" href="images/cert/matr101.png" width="156" height="241" alt="Matrix 101 Certificate" class="certPic popup-link squiz"><img src="images/cert/matr201.png" href="images/cert/matr201.png" width="153" height="241" alt="Matrix 201 Certificate" class="certPic popup-link squiz"><img src="images/cert/matr330.png" href="images/cert/matr330.png" width="135" height="160" alt="Matrix 330 Certificate" class="certPic popup-link squiz">
        <p>Certificate for Diploma coming soon &#040;When the college gets around to giving it to me&#041;</p>
      </section><span class="backButton"><a href="menu2" class="backTxt">Back</a></span>
      <section id="scripts">
        <script src="javascripts/magnific-lightbox-v1-min.js"></script>
        <script>$('head').append('<link rel="stylesheet" type="text/css" href="stylesheets/magnific.css">');</script>
        <script>$(document).ready(function(){$('.image-link').magnificPopup({type:'image'});});$('.popup-link').magnificPopup({type:'image'});</script>
      </section>
    </div>
    <script src="javascripts/main-js.js"></script>
  </body>
</html>