extends layout

block content
  section#dot1
    h6 Pretty<br />Dot
  section#dot2
    h6 Pretty<br />Dot
  section#coda
    h1 Thanks for seeing my work
  span.backButton
    a(href='index') Front Page