extends layout

block content
  section#dot1
    h6 Pretty<br />Dot
  section#dot2
    h6 Pretty<br />Dot
  section#moniker
    h1= title
    p WEB DEVELOPMENT
  section#menu.hvr-shrink menu
    a.animsition-link(href='menuPage')
  section#menu-sub
    h6 Currently: Digital Producer &#64; Pioneer Computers, Sydney Australia