doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='images/favicon.ico' rel='icon')
    link(href='images/favicon.ico' rel='shortcut icon')
    link(href='images/favicon.ico' rel="apple-touch-icon-precomposed")
    //Stylesheets
    link(href='/stylesheets/sass-mobile.css', rel='stylesheet', media='all and (max-device-width: 380px)')
    link(href='/stylesheets/sass-tablet.css', rel='stylesheet', media='all and (min-device-width: 380px) and (max-device-width: 770px)')
    link(href='/stylesheets/sass-desk.css', rel='stylesheet', media='all and (min-device-width: 770px)')
    link(href='/stylesheets/animsition.min.css', rel='stylesheet')
    //Scripts
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/javascripts/animsition.min.js")
    
    <script language="JavaScript1.1" type="text/JavaScript"> 
    <!-- 
    if (parent.frames.length > 0) top.location.replace(document.location); 
    --> 
    </script>

    <!--[if IE 6]><link rel="stylesheet" href="http://mysite.com/path/to/ie6.css" type="text/css" media="screen, projection"><![endif]-->

    <!--[if IE 7]><link rel="stylesheet" href="http://mysite.com/path/to/ie7.css" type="text/css" media="screen, projection"><![endif]-->
  body
    div.animsition-overlay(data-animsition-overlay='true')
      block content
    script(src='javascripts/main-js.js')
