extends layout

block content
  section#dot1.menuBox
    h6 Pretty<br />Dot
  section#dot2.menuBox
    h6 Pretty<br />Dot
  section#profile.menuBox
    a(href='/profile')
      h1 Profile
  section#projects.menuBox
    a(href='/projectsPage') 
      h1 projects
  section#contact.menuBox
    a(href='/contact', name='/contact' target='_top')
      h1  Contact
  section#menu2.menuBox
    a(href='/menu2', name='/menu2')
      h1 More