extends layout

block content
  section#dot1
    h6 Pretty<br />Dot
  section#dot2
    h6 Pretty<br />Dot
  section#certAtt.menuBox
    a(href='/cert')
      h1(style='font-size:1em;') Certificates
  section#credits.menuBox
    a(href='credits') 
      h1 Credits
  section#menu1.menuBox
    a(href='/menuPage') 
      h1 Back
  section#close.menuBox
    a(href='/closePage') 
      h1 Close