extends layout

block content
  section#dot1
    h6 Pretty<br />Dot
  section#dot2
    h6 Pretty<br />Dot
  section#profilePage.contentPage
    h1 A Short Story
    hr.styledhr
    p After high school I worked where I could until I decided I wanted to study science. I got a certificate in Laboratory techniques and spent nine years working in the Pathology industry.
    hr.styledhr
    p I hadn't thought about being a technology professional until a few years ago. That&#39;s when I enrolled in a Web Development course and wondered why I hadn&#39;t done something like it sooner.
    hr.styledhr
    p Two years later&#44; I now have a Diploma and am very excited about being a technology professional.
    hr.styledhr
    sub ps The Diploma focused mostly on ASP.NET MVC5 &amp; WordPress but also covered many other areas such as&#59; back-end  &#40;both MySql &amp; MsSql&#41; &#44; project management &#44; web admin&#44; visual design&#44; privacy and accessibility.
    hr.styledhr
    p Since then I completed a Creative Internship with Squiz Australia
    p I now work for Pioneer Computers as a Digital Producer.
  span.backButton
    a(href='menuPage' class='backTxt') Back