<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="icon">
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/favicon.ico" rel="apple-touch-icon-precomposed">
    <!--Stylesheets-->
    <link href="/stylesheets/sass-mobile.css" rel="stylesheet" media="only screen and (max-device-width: 380px)">
    <link href="/stylesheets/sass-tablet.css" rel="stylesheet" media="only screen and (min-device-width: 380px) and (max-device-width: 769px)">
    <link href="/stylesheets/sass-desk.css" rel="stylesheet" media="only screen and (min-device-width: 769px)">
    <link href="/stylesheets/animsition.min.css" rel="stylesheet">
    <!--Scripts-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/animsition.min.js"></script><!--[if IE 6]><link rel="stylesheet" href="http://mysite.com/path/to/ie6.css" type="text/css" media="screen, projection"><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="http://mysite.com/path/to/ie7.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div data-animsition-overlay="true" class="animsition-overlay">
      <section id="dot1" class="mobileOnly">
        <h6>Pretty<br />Dot</h6>
      </section>
      <section id="dot2" class="mobileOnly">
        <h6>Pretty<br />Dot</h6>
      </section>
      <section id="projectsPage" class="contentPage">
        <h1>Projects</h1>
        <hr class="styledhr">
        <section id="studiesWp"><a href="http://samsfakemusicstore.x10host.com/" target="_blank"><img src="/images/ms.png"></a>
          <h1>For My Studies</h1>
          <p>This is a WordPress project</p><a href="http://samsfakemusicstore.x10host.com/" target="_blank">It&#39;s called Music Store</a>
          <p>It&#39;s an E&mdash;Commerce site. I used my creativity to come up with over twenty fake bands and album names. This is the site that got me to a professional level of design.</p>
          <hr class="styledhr">
        </section>
        <!--section#studiesAsp
        //img(src='/images/placeholder.png')
        //h1 For My Studies
        //p This was my major project.
        //a(href='#') See It Here
        //p It&#39;s an ASP.NET site.
        -->
        <section id="jude"><a href="http://howtogetthatjob.net.au" target="_blank"><img src="/images/jude.png"></a>
          <h1>Wordpress for a client</h1>
          <p>A client needed three WordPress sites. Simple and clean was the brief. See the results here&#58;</p><a href="http://howtogetthatjob.net.au">How To Get That Job<br /></a><a href="http://sydneyscleanteam.com.au">Sydney&#39;s Clean Team<br /></a><a href="http://acsrecruit.com.au">ACS Recruitment</a>
          <hr class="styledhr">
        </section>
        <section id="lalo"><a href="http://communityfirstdrivingschool.com" target="_blank"><img src="/images/cfds_logo.png"></a>
          <h1>PHP for a client</h1>
          <p>Made for a friends business.</p><a href="http://communityfirstdrivingschool.com">This Is What I Made</a>
          <p>It&#39;s a small and basic site but the client&#39;s happy. He wanted to leave the company he was working for and start his own business when he moved from one city to another. He now has a successful business in Sydney.</p>
          <hr class="styledhr">
        </section>
        <section id="urchin"><a href="http://urchinbooks.com.au" target="_blank"><img src="/images/urchin-logo-1.png"></a>
          <h1>A PHP Site</h1>
          <p>I'm making a site for a book shop.</p><a href="http//:urchinbooks.com.au" target="_blank">This One</a>
          <p>It&#39;s still under contruction as it&#39;s going to be a fairly large site.</p>
          <hr class="styledhr">
        </section>
        <section id="work"><a href="http://shop.x10host.com/admin/index.php" target="_blank"><img src="/images/pca.png"></a>
          <h1>For My Current Position</h1>
          <p>This is the site I built for&#58;</p><a href="http://shop.x10host.com/admin/index.php">Pioneer Computers</a>
          <p>Made with PHP, the site is Full&ndash;stack, e&ndash;commerce and has an admin area (CRUD GUI).</p>
        </section>
      </section><span class="backButton"><a href="menuPage" class="backTxt">Back</a></span>
    </div>
    <script src="javascripts/main-js.js"></script>
  </body>
</html>
