extends layout

block content
  section#dot1.mobileOnly
    h6 Pretty<br />Dot
  section#dot2.mobileOnly
    h6 Pretty<br />Dot
  section#projectsPage.contentPage
    h1 Projects
    hr.styledhr
    section#studiesWp
      a(href='http://samsfakemusicstore.x10host.com/' target='_blank')
        img(src='/images/ms.png')
      h1 For My Studies
      p This is a WordPress project
      a(href='http://samsfakemusicstore.x10host.com/' target='_blank') It&#39;s called Music Store
      p It&#39;s an E&mdash;Commerce site. I used my creativity to come up with over twenty fake bands and album names. This is the site that got me to a professional level of design.
      hr.styledhr
    //section#studiesAsp
      //img(src='/images/placeholder.png')
      //h1 For My Studies
      //p This was my major project.
      //a(href='#') See It Here
      //p It&#39;s an ASP.NET site.
    section#jude
      a(href='http://howtogetthatjob.net.au' target='_blank')
        img(src='/images/jude.png')
      h1 Wordpress for a client
      p A client needed three WordPress sites. Simple and clean was the brief. See the results here&#58;
      a(href='http://howtogetthatjob.net.au' target='_blank') How To Get That Job<br />
      a(href='http://sydneyscleanteam.com.au' target='_blank') Sydney&#39;s Clean Team<br />
      a(href='http://acsrecruit.com.au' target='_blank') ACS Recruitment
      hr.styledhr
    section#urchin
      a(href='http://urchinbooks.com.au' target='_blank')
        img(src='/images/urchin-logo-1.png')
      h1 A PHP Site
      p I made a site for a book shop.
      a(href='http://urchinbooks.com.au' target='_blank') This One
      p It&#39;s still under contruction as it&#39;s going to be a fairly large site.
      hr.styledhr
  span.backButton
    a(href='menuPage' class='backTxt') Back
